.mypageContainer {
  display: flex;
  width: 100%;
  flex-grow: 1;
  /* padding: 30px 0; */
}

.menuTab {
  display: none;
}

.mypageLeftSide {
  flex-shrink: 0;
  width: 300px;
  /* width: 30%; */
  /* max-width: 300px; */
}

.mypageRightSide {
  /* width: 70%; */
  flex-grow: 1;
  padding-left: 50px;
}

.ulStyle {
  display: flex;
  align-items: center;
}

.ulStyle li:first-child {
  width: 200px;
  margin: 20px 0;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.ulStyle li:last-child {
  width: 200px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
}

.svgStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
}

.cameraStyle {
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  border-radius: 50px;
  position: relative;
  border: 1px solid var(--color-light-gray);
  flex-shrink: 0;
}

.paymentDate {
  width: 20%;
  text-align: center;
}

.paymentClassName {
  width: 70%;
  text-align: center;
}

.paymentPrice {
  width: 30%;
  text-align: center;
}

/* 어드민페이지 스타일 */
.user-list {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.user-list-header {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-date,
.header-price {
  flex: 1;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.header-title {
  flex: 2;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.user-list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-list-item:nth-child(odd) {
  background-color: #f1f1f1;
}

.user-date {
  flex: 1;
  text-align: left;
  font-size: 16px;
}

.user-title {
  flex: 2;
  text-align: left;
  font-size: 16px;
}

.user-price {
  flex: 1;
  text-align: left;
  font-size: 16px;
}

.myPageModal.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.myPageModal .modalContent {
  background-color: #fff;
  width: 100%;
  padding: 25px 0;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  position: relative;
  max-height: 95%;
  overflow-y: auto;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.modalContent ul {
  display: flex;
  width: 100%;
  margin: 15px 0;
  padding: 0 30px;
}

.modalContent ul li:first-child {
  /* width: 30%; */
  width: 150px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.modalContent ul li:last-child {
  flex-grow: 1;
}

.modalContent ul li input {
  display: flex;
  width: 100%;
  margin: auto 0;
  padding: 5px;
  border-radius: 5px;
}

.myPageModal .btnArea {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
}

.myPageModal .btnArea button {
  min-width: 150px;
}

.categoryDropdown {
  width: 100%;
  min-width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.categoryDropdown option {
  width: auto;
  min-width: 200px;
}

.thumnailContainer {
  width: 100%;
  height: 100px;
  background-color: var(--background-color-gray);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.thumnailSize {
  width: 200px;
  height: 100px;
}

.xButtonContainer {
  width: 25px;
  height: 25px;
  /* padding: 5px; */
  border-radius: 25px;
  background-color: var(--color-light-gray);
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.xButton {
  width: 12px;
  height: 15px;
}

.inputFieldContainer {
  display: flex;
  align-items: center;
}

.inputFieldContainer span {
  width: 80px;
}

.inputField {
  margin-right: 10px;
  width: 200px;
}


.plusButtonIcon {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  margin-left: 7px;
}

.plusButtonIcon svg {
  width: 14px;
  vertical-align: middle;
}

.buttonIcon {
  cursor: pointer;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.curriculumAddList .plusButtonIcon {
  border-radius: 0;
}

.curriculumAddList .plusButtonIcon,
.curriculumAddList .buttonIcon {
  width: 40px;
  height: 40px;
  margin: 0;
  border-color: var(--border-color-default);
  border-width: 1px 1px 1px 0;

}

.curriculumAddList .buttonIcon svg,
.curriculumAddList .plusButtonIcon svg {
  vertical-align: middle;
  width: 16px;
}

.curriculumAddList .addCurriculum input {
  width: inherit;
  flex-grow: 1;
}

.curriculumAddList .addCurriculum .inputFieldContainer input+input {
  margin-left: 7px;
}

.curriculumAddList input:last-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.curriculumAddList .addCurriculum .inputFieldContainer+.inputFieldContainer {
  margin-top: 7px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curriculumAddList {
  padding: 20px 15px;
  border-radius: var(--border-radius);
  background-color: var(--background-color-gray);
}

.curriculumAddList .addCurriculum {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color-default);
}

.curriculumAddList .addCurriculum:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.curriculumAddList .addCurriculum .title {
  margin-bottom: 10px;
}

.curriculumAddList .addCurriculum .title>span {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.curriculumAddList .addCurriculum .title .cont {
  display: flex;
}

.myPageModal .inputUnit {
  display: flex;
  align-items: center;
}

.myPageModal .inputUnit input {
  width: 250px;
}

.myPageModal .inputUnit .unit {
  margin-left: 5px;
}

.helpMessage {
  color: var(--text-color);
  font-size: 13px;
}

.helpMessage p {
  font-size: 13px;
}

.helpMessage .icon {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.helpMessage svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  fill: var(--color-gray);
}

.helpMessageList {
  margin-top: -4px;
  color: var(--color-gray);
  font-size: 11px;
}

.helpMessageList dt {
  margin-bottom: 5px;
  font-weight: bold;

}

.helpMessageList dd {
  line-height: 1.4;
}

.mypageProfile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.mypageProfile .profileInfo {
  color: var(--color-gray);
  flex-grow: 1;
  margin-left: 20px;
}

.mypageProfile .profileInfo div:first-child {
  font-weight: bold;
}

.mypageProfile .profileInfo div:last-child {
  margin-top: 8px;

}

.mypageSideMenu {
  margin-top: 30px;
}

.mypageContainer .mypageSideMenu>div {
  margin-top: 0 !important;
  padding: 15px 0;
}

.myClass {
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: auto; */
  /* margin-left: -15px; */
  gap: 20px 15px;
}

.myClass .mypageClassItem {
  width: calc(25.3% - 15px);
  cursor: pointer;
  /* margin-left: 15px; */
}

.myClass .mypageClassItem .img {
  overflow: hidden;
  width: 100%;
  /* height: 83%; */
  height: 140px;
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius);
}

.myClass .mypageClassItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myClass .mypageClassItem div:last-child {
  margin-top: 10px !important;
}

.myClass .mypageClassItem div:nth-child(2) {
  margin-top: 10px !important;
  font-size: 17px;
}

.mypageContainer .mypageRightSide .titleArea:first-child {
  margin-top: 0;
}

.mypageContainer .titleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 16px
}

.mypageContainer .titleArea .h3 {
  margin: 0;
  font-weight: bold;
}

.profileBox {
  border-radius: 15px;

}

.profileBox textarea {
  width: calc(100% - 45px);
  height: 100%;
  padding: 15px 10px;
  /* box-sizing: border-box; */
}

.profileBox .ulStyle li:first-child {
  font-weight: bold;
  margin: 0;
}

.profileBox .ulStyle li:last-child {
  flex-grow: 1;
  padding: 16px 0;
}

@media screen and (max-width: 1300px) {
  /* .mypageLeftSide {
    padding-left: 20px;
  } */

}

@media screen and (max-width: 1100px) {
  .myClass .mypageClassItem {
    width: calc(33.9% - 15px);
  }
}

@media screen and (max-width: 900px) {
  .myClass .mypageClassItem {
    width: calc(50.9% - 15px);
  }
}

@media screen and (max-width: 769px) {
  .mypageLeftSide {
    display: none;
  }

  .mypageRightSide {
    width: 100%;
    padding-left: 0;
    /* padding: 0 20px; */
  }

  .mypageRightSide .h3 {
    margin-top: 0;
  }

  .menuTab {
    display: block;
    margin: 0 -15px;
  }

  .myPageModal .modalContent {
    height: 100%;
    max-height: inherit;
    border-radius: 0;
  }

  .myPageModal .modalContent ul {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 0 30px;
  }

  .myPageModal .modalContent ul li:last-child {
    margin-top: 10px;
    width: 100%;
  }

  .myPageModal .inputFieldContainer {
    flex-wrap: wrap;
    align-items: baseline;
  }

  .myPageModal .inputFieldContainer input {
    width: 100%;
    margin-bottom: 7px;
  }

  .curriculumAddList .addCurriculum .inputFieldContainer input:last-of-type {
    margin-left: 0;
    width: calc(100% - 40px);
  }

  .myPageModal .inputUnit input {
    flex-grow: 1;
  }

  .myClass {
    gap: 20px 0;
  }

  .myClass .mypageClassItem {
    width: calc(50% - 10px);
  }

  .myClass .mypageClassItem .img {
    height: 120px;
  }

  .myClass .mypageClassItem:nth-child(odd) {
    margin-right: 15px;

  }

  .profileBox {
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
  }

  .profileBox .ulStyle {
    flex-direction: column;
    margin-bottom: 7px;
  }

  .profileBox .ulStyle li {
    width: 100%;
  }

  .profileBox .ulStyle li:first-child {
    padding: 15px 0 0;
    font-size: 16px;
  }
}

@media (hover: hover) {
  /* .mypageContainer .mypageSideMenu>div:hover {
    box-shadow: 0 -2px 0 0 inset var(--color-primary);
  } */

  /* .mypageContainer .mypageSideMenu>div:hover {
    background-color: var(--background-color);
  } */

  /* .mypageContainer .mypageSideMenu>div:hover>div {
    color: var(--color-primary) !important;
  }

  .mypageContainer .mypageSideMenu>div:hover>div svg {
    fill: var(--color-primary) !important;
  } */
}