.mypageContainer {
  display: flex;
  width: 100%;
  padding: 30px 0;
}

.menuTab {
  display: none;
}

.mypageLeftSide {
  width: 30%;
}

.mypageRightSide {
  width: 70%;
  padding-left: 50px;
}

.ulStyle {
  display: flex;
  align-items: center;
}

.ulStyle li:first-child {
  width: 200px;
  margin: 20px 0;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.ulStyle li:last-child {
  width: 200px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
}

.svgStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
}

.cameraStyle {
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  border-radius: 50px;
  position: relative;
  border: 1px solid var(--color-light-gray);
}

.paymentDate {
  width: 20%;
  text-align: center;
}

.paymentClassName {
  width: 70%;
  text-align: center;
}

.paymentPrice {
  width: 30%;
  text-align: center;
}

/* 어드민페이지 스타일 */
.user-list {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.user-list-header {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-date,
.header-price {
  flex: 1;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}
.header-title {
  flex: 2;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.user-list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-list-item:nth-child(odd) {
  background-color: #f1f1f1;
}

.user-date {
  flex: 1;
  text-align: left;
  font-size: 16px;
}
.user-title {
  flex: 2;
  text-align: left;
  font-size: 16px;
}
.user-price {
  flex: 1;
  text-align: left;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .mypageLeftSide {
    padding-left: 20px;
  }
}

@media screen and (max-width: 769px) {
  .mypageLeftSide {
    display: none;
  }
  .mypageRightSide {
    width: 100%;
    padding: 0 20px;
  }
  .menuTab {
    display: block;
  }
}
