:root {
  --color-primary: #d60036;
  --color-gray: #55565a;
  --color-light-gray: #d9d9d9;
  --color-black: #000;
  --color-white: #fff;
  --max-width: 1280px;
  --border-color-default: #9b9b9b;
  --border-color: #ddd;
  --border-radius: 5px;
  --background-color: #f7f7f7;
  --background-color-gray: #f1f1f1;
  --text-color: #757575;
}

/* css reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
code,
em,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
mark,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

b {
  font-weight: bold;
}

p {
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.15;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  /* border-color: var(--color-gray); */
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"] {
  height: 40px;
  padding: 0 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-default);
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: var(--color-primary);
  vertical-align: middle;
}

input[type="radio"]:first-child {
  margin-left: 0;
}

input[type="radio"]+label {
  margin: 0 7px 0 5px;
  vertical-align: middle;
}

select {
  height: 40px;
  padding: 0 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-default);
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:url('arr_pink.gif') no-repeat 97% 50%/15px auto; */
}

/* select::-ms-expand {
  display: none;
} */

textarea {
  min-height: 100px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-default);
}

button {
  height: 40px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 14px;
  cursor: pointer;
}

button.small {
  height: 35px;
  font-size: 12px;
}

button.large {
  height: 45px;
  font-size: 16px;
}

button.white {
  border-color: var(--color-gray);
  background-color: var(--color-white);
  color: var(--color-gray);
}

button.gray {
  border-color: var(--color-light-gray);
  background-color: var(--color-light-gray);
  color: var(--color-gray);
}

.btnArea {
  margin-top: 20px;
  text-align: center;
}

.btnArea.top0 {
  margin-top: 0;
}

.btnArea.left {
  text-align: left;
}

.btnArea.right {
  text-align: right;
}

.btnArea.full {
  display: flex;
}

.btnArea.full button {
  flex-grow: 1;
}

.btnArea button {
  margin-left: 7px;
}

.btnArea button:first-child {
  margin-left: 0;
}

.iconMore {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.iconMore::after {
  position: absolute;
  right: 0;
  top: 32%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  transform: rotate(-45deg);
}

.topBtn {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--color-light-gray);
  border: none;
}

.topBtn span {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 0;
}

.topBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -5px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
  transform: rotate(135deg);
}

button.gray span::after {
  border-color: var(--color-gray);
}

button.white span::after {
  border-color: var(--color-gray);
}

.hidden {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  opacity: 0;
}

/* title */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
}

.h2 {
  font-size: 24px;
  margin: 30px 0 20px;
}

.h3 {
  font-size: 22px;
  margin: 25px 0 16px;
}

.h4 {
  font-size: 20px;
  margin: 20px 0 12px;
}

.h5 {
  font-size: 18px;
  margin: 20px 0 8px;
}

.h6 {
  font-size: 17px;
  margin: 15px 0 8px;
}

p {
  font-size: 16px;
}

.subText {
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 15px;
}

/* layout */
.wrap {
  height: 100%;
  min-width: 360px;
  overflow: hidden;
}

.header {
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

.header .inner {
  position: relative;
}

.header .top {
  position: relative;
  height: 80px;
}

.header .top .util {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header.navHidden .menuContent {
  display: none;
}

.header.navHidden .menuBtn {
  display: none;
}

.logo {
  display: inline-block;
  padding-top: 14px;
  font-size: 35px;
}

.logo a {
  text-decoration: none;
  color: var(--color-primary);
}

.logo img {
  height: 50px;
}

.util .utilBtn {
  height: 40px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  font-size: 16px;
}

.util .login {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 10px 10px;
  color: var(--color-gray);
}

.util .utilBtn span {
  vertical-align: middle;
  font-size: 12px;
  color: var(--color-gray);
}

.util .utilBtn b {
  font-size: 16px;
  font-weight: bold;
}

.util .utilBtn svg {
  width: 14px;
  height: 10px;
  margin-left: 8px;
  vertical-align: middle;
  fill: var(--color-gray);
}

.util.active .utilBtn svg {
  transform: rotate(180deg);
}

.utilList {
  display: none;
  position: absolute;
}

.utilList div:hover {
  color: var(--color-primary);
}

.util.active .utilList {
  display: inline-block;
  top: 45px;
  right: 0;
  width: auto;
  min-width: 130px;
  padding: 5px 0 10px;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius);
  background-color: #fff;
}

.util.active .utilList li {}

.util.active .utilList li:first-child {
  margin-top: 0;
}

.util.active .utilList div {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.menu .searchArea {
  position: absolute;
  left: 242px;
  top: 18px;
}

.menu .menuList {
  margin-top: 10px;
  margin-bottom: -1px;
}

.menu .menuList ul {
  display: flex;
}

.menu .menuList li {
  margin-left: 5px;
}

.menu .menuList li:first-child {
  margin-left: 0;
}

.menu .menuList a {
  display: inline-block;
  min-width: 50px;
  padding: 5px 5px 10px;
  color: var(--color-black);
  text-decoration: none;
  text-align: center;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid;
}

.menu .menuList a:hover {
  border-color: var(--color-primary);
}

.menu .menuList li.active a {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.menu .menuList a:active,
.menu .menuList a:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.menu .closeBtn {
  display: none;
}

.content {
  padding: 30px 0 30px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
}

.search {
  position: relative;
  height: 45px;
  width: 400px;
}

.search input {
  height: 100%;
  width: 100%;
  padding-right: 52px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  border: 0;
  background-color: transparent;
}

.search button svg {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #757575;
}

.menuBtn {
  display: none;
}

/* tab */
.tabList {
  margin-bottom: 25px;
}

.tabList ul {
  display: flex;
}

.tabList li {
  margin-left: 5px;
}

.tabList li:first-child {
  margin-left: 0;
}

.tabList ul .tab {
  display: inline-block;
  min-width: 50px;
  padding: 5px 5px 10px;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid;
  border-radius: inherit;
  background-color: transparent;
  color: var(--color-black);
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.tabList .tab:hover {
  border-color: var(--color-primary);
}

.tabList li.active .tab {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.tabList .tab:active,
.tabList .tab:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/* roundTab */
.roundTabList {
  margin-bottom: 25px;
}

.roundTabList ul {
  display: flex;
}

.roundTabList li {
  margin-left: 7px;
}

.roundTabList li:first-child {
  margin-left: 0;
}

.roundTabList ul .tab {
  display: inline-block;
  min-width: 50px;
  height: 36px;
  line-height: 34px;
  padding: 0 16px;
  border: 1px solid var(--border-color-default);
  border-radius: 20px;
  color: var(--color-gray);
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.roundTabList ul button.tab {
  background-color: transparent;
}

.roundTabList .tab:hover {
  border-color: var(--color-primary);
}

.roundTabList li.active .tab {
  font-weight: bold;
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px inset var(--color-primary);
}

.roundTabList .tab:active,
.roundTabList .tab:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/* searchInput*/
.searchInput {
  position: relative;
}

.searchInput {
  position: relative;
  height: 45px;
  width: 400px;
}

.searchInput input {
  height: 100%;
  width: 100%;
  padding-right: 45px;
  border: 1px solid var(--border-color);
}

.searchInput button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45px;
  border: 0;
  background-color: transparent;
}

.searchInput button svg {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #757575;
}

/* classItem */
.classItem {
  position: relative;
  text-align: left;
}

.classItem a {
  color: var(--color-gray);
  text-decoration: none;
}

.classItem .img {
  overflow: hidden;
  width: 100%;
  height: 168px;
  border-radius: var(--border-radius);
  background-color: var(--color-light-gray);
  border: 1px solid #ddd;
}

.classItem .img img {
  width: 100%;
}

.classItem .info {
  margin-top: 15px;
}

.classItem .info .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  min-height: 37px;
}

.classItem .info .price {
  margin-top: -5px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.classItem .info .unit {
  margin-left: 5px;
  font-weight: normal;
  font-size: 13px;
}

.classItem .info .price .defaultPrice,
.classItem .info .price .discountPrice {
  font-size: 20px;
}

.classItem .info .price .discountPrice,
.classItem .info .price .percent {
  display: none;
}

.classItem .info .price.discount .defaultPrice {
  color: var(--border-color-default);
  font-size: 14px;
  font-weight: normal;
}

.classItem .info .price.discount .defaultPrice span {
  text-decoration: line-through;
}

.classItem .info .price.discount .defaultPrice .unit {
  font-size: 12px;
}

.classItem .info .price.discount .discountPrice,
.classItem .info .price.discount .percent {
  display: block;
}

.classItem .info .price .percent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--color-primary);
  font-size: 30px;
}

.classItem .util .average {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
}

.classItem .util .average::before {
  content: "★";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #ffc400;
  font-size: 17px;
}

.classList ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0;
}

.classList ul li {
  width: 25%;
  margin-top: 20px;
  padding: 0 10px;
}

.likeBtn {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 28px;
  height: 28px;
  padding: 5px;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.likeBtn svg {
  fill: var(--color-gray);
}

.likeBtn.active svg {
  fill: var(--color-primary);
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.loadingArea {
  position: relative;
  min-height: 140px;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
  z-index: 200;
}

.loader.noFixed {
  position: absolute;
}

.noData {
  padding: 20px 15px 35px;
  color: var(--color-gray);
  text-align: center;
}

.noData .icon {
  margin-bottom: 15px;
}

.noData .icon svg {
  width: 50px;
  height: 50px;
  fill: var(--color-gray);
}

.ModalArea {
  width: 50%;
  min-height: 40%;
  padding: 60px 20px 25px;
  border: none;
  border-radius: var(--border-radius);
}

.ModalArea.modalTitle {
  padding: 20px 20px 25px;
  text-align: left;
}

.ModalArea .closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
}

.ModalArea .title {
  margin: 0 -20px;
  padding: 0 20px 20px;
  font-size: 22px;
}

.ModalArea .modalContent {
  height: 100%;
  font-size: 16px;
}

.ModalArea .modalContent .btnArea {
  margin-top: 20px;
}

.ModalArea.small {
  width: 400px;
  min-height: 150px;
  padding: 20px 20px 20px;
  text-align: center;
}

@media screen and (max-width: 1300px) {

  .content,
  .footer,
  .header .top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu .searchArea {
    left: 262px;
  }

  .classItem a {
    color: var(--color-gray);
    text-decoration: none;
  }

  .classItem .img {
    overflow: hidden;
    width: 100%;
    height: 168px;
    border-radius: var(--border-radius);
    background-color: var(--color-light-gray);
  }

  .classItem .util .average {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  .classList ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 0;
  }

  .classList ul li {
    width: 25%;
    margin-top: 20px;
    padding: 0 10px;
  }

  .likeBtn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border: none;
    background-color: transparent;
  }

  .likeBtn svg {
    fill: var(--color-gray);
  }

  .likeBtn.active svg {
    fill: var(--color-primary);
  }

  .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 100;
  }

  .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
    z-index: 200;
  }

  .loader.noFixed {
    position: absolute;
  }

  .noData {
    padding: 20px 15px 35px;
    color: var(--color-gray);
    text-align: center;
  }

  .noData .icon {
    margin-bottom: 15px;
  }

  .noData .icon svg {
    width: 50px;
    height: 50px;
    fill: var(--color-gray);
  }
}

@media screen and (max-width: 1000px) {

  /* classItem */
  .classList ul li {
    width: 33.33%;
  }

  .classItem .img {
    height: 140px;
  }
}

@media screen and (max-width: 769px) {
  .classItem .img {
    height: 140px;
  }
}

@media screen and (max-width: 769px) {

  input[type="text"],
  input[type="password"],
  input[type="search"] {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .wrap {
    width: 100%;
  }

  .inner {
    max-width: 100%;
    margin: inherit;
    width: 100%;
  }

  .footer {
    padding: 20px 15px;
    font-size: 14px;
  }

  .logo {
    padding-top: 0;
  }

  .logo img {
    height: 35px;
  }

  .header {
    padding-top: 0;
  }

  .header .top {
    width: 100%;
    height: 65px;
    padding: 15px 15px 15px 65px;
  }

  .header.navHidden .top {
    padding-left: 15px;
  }

  .util .utilBtn span b {
    font-size: 13px;
  }

  .header .util .utilList {
    right: 15px;
    min-width: inherit;
  }

  .header .menuBtn {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }

  .header .menuBtn svg {
    width: 25px;
    vertical-align: middle;
  }

  .header .menu {
    display: none;
    opacity: 0;
    width: 0;
    transition: 1s;
  }

  .header .menu.active {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  .menu .menuContent {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 50px 20px 20px;
    background-color: var(--background-color);
  }

  .menu .searchArea {
    position: relative;
    left: inherit;
    top: inherit;
  }

  .searchArea .search {
    width: 100%;
    margin-bottom: 25px;
  }

  .searchArea .search input {
    padding-right: 47px;
  }

  .menu .menuList {
    margin: 0 -20px;
  }

  .menu .menuList ul {
    flex-direction: column;
  }

  .menu .menuList a {
    width: 100%;
    padding: 12px 20px;
    font-weight: bold;
  }

  .menu .menuList li.active a {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .menu .closeBtn {
    display: block;
    position: absolute;
    top: 12px;
    right: 7px;
    height: initial;
    border: none;
    background-color: transparent;
    color: var(--color-gray);
    font-size: 20px;
  }

  .content {
    padding: 25px 15px;
  }

  /* tab */
  .tabList {
    margin: 0 -15px 20px;
  }

  .tabList li {
    flex-grow: 1;
  }

  .tabList li .tab {
    width: 100%;
  }

  /* roundTabList */
  .roundTabList {
    margin: 0 -15px 20px;
    padding: 0 15px;
    white-space: nowrap;
    overflow-y: auto;
  }

  /* searchInput*/
  .searchInput {
    width: 100%;
  }

  .searchInput input {
    padding-right: 47px;
  }

  /* classItem */
  .classList ul li {
    width: 50%;
  }

  .classItem .img {
    height: 100px;
  }

  /* modal */
  .ModalArea {
    width: 100%;
    min-height: 40%;
    padding: 60px 15px 25px;
  }

  .ModalArea .closeBtn {
    top: 5px;
    right: 5px;
  }

  .ModalArea.modalTitle .title {
    padding: 0 45px 25px 20px;
    text-align: left;
  }

  .ModalArea.small {
    width: 100%;
  }
}

@media (hover: hover) {
  button:hover {
    background-color: #b60330;
  }

  button.white:hover {
    background-color: #eee;
  }

  button.gray:hover {
    background-color: #afafaf;
    color: var(--color-white);
  }

  .likeBtn:hover {
    background-color: transparent;
    transform: scale(1.15);
  }

  .likeBtn:hover svg {
    fill: var(--color-primary);
  }

  .search button:hover,
  .searchInput button:hover {
    background-color: var(--color-light-gray);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }

  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }

  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }

  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }

  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }

  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}

/* 가이드용 */
.guideTitle:first-child {
  margin-top: 0;
}

.guideTitle {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 25px;
}

hr {
  margin: 25px 0;
  border: 1px solid var(--border-color-default);
}

.colorList {
  display: flex;
}

.colorList li {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 13px;
}

.colorList li:nth-child(1) {
  background-color: var(--color-primary);
}

.colorList li:nth-child(2) {
  background-color: var(--color-gray);
}

.colorList li:nth-child(3) {
  background-color: var(--color-black);
}

.colorList li:nth-child(4) {
  background-color: var(--color-white);
  color: var(--color-black);
}

.colorList li:nth-child(5) {
  background-color: var(--color-light-gray);
  color: var(--color-black);
}